:root {
	--dark: #222222;
	--light-default: #cbb6df;
	--darker-default: #ba94d1;
	--error: #a25eca;
	--light: #e4e4e4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	color: var(--dark);
	background-color: #d3d3d3;
	/* background-image: linear-gradient(to top, #d3d3d3 0%, #e4e4e4 74%); */
}

.wrapper {
	position: relative;
	display: flex;
	margin: 20px;
	border-radius: 5px;
	background-color: #e4e4e4;
	box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 20%), 0 0.1rem 0.5rem rgb(0 0 0 / 30%),
		0 0.2rem 1.5rem rgb(0 0 0 / 40%);

	/* width: 440px;
	background-color: #160f40;
	border-radius: 5px;
	box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 20%), 0 0.1rem 0.5rem rgb(0 0 0 / 30%),
		0 0.2rem 1.5rem rgb(0 0 0 / 40%);
	backdrop-filter: blur(5px); */
}

.welcome-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 600px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: url('./pobrane.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;

	/* backdrop-filter: blur(5px); */
}

form {
	padding: 40px;
	font-size: 20px;
	width: 440px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #e4e4e4;
	overflow: hidden;
}

.swing-animation {
	animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s
		both;
}

@keyframes swing-in-top-fwd {
	0% {
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}

h1 {
	margin-bottom: 30px;
	letter-spacing: 5px;
	text-align: center;
	transform: scale(0.94);
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
		0.3s both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

h2 {
	margin-bottom: 30px;
	letter-spacing: 5px;
	text-align: center;
}

.welcome-paragraph {
	font-size: 20px;
	transform: scale(0.94);
	-webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* LABELS AND INPUTS */

.form-box {
	min-height: 90px;
}

.form-box label {
	display: inline-block;
	padding-left: 15px;
	padding-bottom: 5px;
	font-size: 10px;
	font-weight: lighter;
	text-transform: uppercase;
}

.form-box .input-field {
	position: relative;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

/* .form-box .input-field i {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%
	);
	color: var(--darker-default);
	font-size: 12px;
} */

.form-box input {
	width: 100%;
	padding: 7px;
	/* margin-left: -30px; */
	font-size: 12px;
	color: var(--light);
	background-color: rgba(0, 0, 0, 0.137);
	border-radius: 25px;
	border: none;
	outline: none;
	transition: background 0.5s;
	text-indent: 15px;
	color: var(--light);
}

.form-box input:focus {
	background: rgba(139, 139, 139, 0.644);
}

.form-box input::placeholder {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.829);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
/* textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus, */
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--light);
	-webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.116) inset;
	transition: background-color 5000s ease-in-out 0s;
}

.form-box.error input {
	border: 1px solid var(--dark-default);
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.bottom .send {
	margin-top: 90px;
}

.checkbox-area {
	display: flex;
	width: 200px;
	height: 100px;
	flex-direction: row;
	justify-content: end;
	margin: 15px;
}

.checkbox-area label {
	display: inline;
	font-size: 12px;
}

input[type='checkbox'] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
	display: inline-block;
	width: 20px;
	height: 20px;
}

input[type='checkbox']:checked {
	accent-color: #495C83;
}
/* ERROR */

.form-box .error-text {
	visibility: hidden;
	margin: 5px 0 0 5px;
	font-size: 12px;
	color: var(--error);
}

.form-box.error .error-text {
	visibility: visible;
}

/* BUTTONS */

.control-buttons {
	display: flex;
	margin-top: 40px;
	justify-content: flex-end;
}

.send,
.register,
.login {
	display: block;
	padding: 10px 0;
	height: 40px;
	width: 135px;
	font-size: 12px;
	font-weight: bold;
	background-color: var(--darker-default);
	background-color: #7a86b6;
	color: var(--light);
	border: none;
	border-radius: 40px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}

.login, .register {
	background-color: var(--light);
	color: #222222;
	animation: heartbeat 1.5s ease-in-out infinite 0.4s both;
}

.send:hover,
.register:hover,
.login:hover {
	background-color: #c7c7c7;
	transform: scale(1.05);
}

.register-form {
	z-index: 1;
}

.login-form {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 0;
	transition: 1s;
}

/* .welcome-register {
} */

.welcome-login {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.welcome-register {
	z-index: 1;
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.96);
		transform: scale(0.96);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.93);
		transform: scale(0.93);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes scale {
	100% {
		transform: scale(1.05);
	}
}
@keyframes fade-in {
	from {
		opacity: 0;
		filter: blur(1);
	}
	to {
		opacity: 1;
		filter: blur(0);
	}
}

@media (max-width: 320px) {
	form {
		padding: 33px;
	}
	h1 {
		margin-bottom: 15px;
	}
	.form-box {
		margin-bottom: 5px;
	}
	.control-buttons {
		margin-top: 15px;
	}
}
@media (max-width: 375px) {
	body {
		overflow: hidden;
	}
}
